
body{
    background-image: url(luzes1.jpg);
    font-family: "Inter";

}

footer {
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
    color: #e8e8e8; 
    background-image: url(./img-planetas/footer.jpg);
    background-position: center;
    background-size: cover;
    
  }
  
  footer img {
    width: 150px; 
    margin-bottom: 10px; 
  }
  footer img:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  
  footer p { 
    font-size: 2rem;
    position: relative; bottom: 20px;
    color: #007bff;
  }
  
  footer a { 
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline; 
  }
  
  
