*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body{
    
    background-image: url(./assets/img/background/background-header.jpg);
    overflow:inherit;
    font-family: "Orelega one";
}

header{ width: 90vw;}

a{
  text-decoration:none;
  color:#afffff;
}

#planets-header {
  position: relative;
  width: 800px;
  height: 400px;
  margin: 50px auto;
  background-image: url(./assets/img/background/espaco-sideral.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

/* Ajustes de posicionamento para cada planeta */
.sol {
  position: relative;
  left: 22%; 
}
.mercurio {
  position: relative;
  left: 150px;
}
.venus {
  position: relative;
  left: 100px; 
}
.terra {
  position: relative;
  left: 70px; 
}
.marte {
  position: relative;
  left: 18px; 
}
.jupiter {
  position: relative;
  right: 25px; 
}
.saturno {
  position: relative;
  right: 40px; 
}
.urano {
  position: relative;
  right: 80px; 
}
.netuno {
  position: relative;
  right: 120px; 
}

.sol:hover{transform: scale(1.1);transition: 1s;}
.mercurio:hover{transform: scale(1.2);transition: 1s;}
.venus:hover{transform: scale(1.2);transition: 1s;}
.terra:hover{transform: scale(1.2);transition: 1s;}
.marte:hover{transform: scale(1.2);transition: 1s;}
.jupiter:hover{transform: scale(1.2);transition: 1s;}
.saturno:hover{transform: scale(1.2);transition: 1s;}
.urano:hover{transform: scale(1.2);transition: 1s;}
.netuno:hover:hover{transform: scale(1.2);transition: 1s;}
  
/************MENU DE NAVEGAÇÃO**************/
.nav-header { 
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    left: 160px;
    width: 75vw; 
    font-size: 1.1rem;
    justify-content: center;
}
  
.nav-header a {
  text-decoration: none;
  color: #fff;
  background-color: rgba(9, 9, 104, 0.8); 
  text-align: center;
  padding: 10px 20px;
  margin-left: 12px;
  border-radius: 6px; 
  transition: all 0.3s ease; 
  text-shadow: 0 0 5px #007bff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
  
  .item-curiosidade{width: 13vw;}
  .item-viagem{width: 13vw;}
  .item-home{width: 13vw;}
  

/**********ESTILO DA SECTION DOS CARDS***********/

#section-cards {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0 40px 60px;
  background-color: rgba(71, 86, 112, 0.5); ;
  border: 50px solid transparent; 
  border-radius: 15px; 
  box-shadow: 0 8px 30px rgba(57, 126, 228, 0.3); 
  margin: 0 auto;
  position: relative; bottom: 75px
}

.card-container {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 5px); /* Ajusta a largura para 3 colunas com espaçamento */
  margin-bottom: 20px; 
}
.card {
  width: 18vw;
  height: 28vw;
  background-color: #ddd; 
  margin-bottom: 10px; 
  border-radius: 10px;
  box-shadow: 0 3px 3px #2fdae0;
display: block; 
}

.card img{
  width: 100%;
  height: 100%;
  
}

button {
  background-color: rgba(47, 218, 224, 0.5); 
  font-size: 1.1rem;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 18vw;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-family: "orelega one";
  
}

button:hover {
  background-color: rgba(21, 204, 236, 0.2);
  transform: scale(0.9); 
  transition: .4s;
}

a {
  text-decoration: none;
  color: white;
}

#card1:hover{
  transform: translateX(-7px);
  transition: 1s;
}

#card2:hover{
  transform: scale(0.9); 
  transition: 1s;
}
#card3:hover{
  transform: translateX(7px); 
  transition: 1s;
}

#card4:hover{
  transform: translateX(-7px); 
  transition: 1s;
}

#card5:hover{
  transform: scale(0.9);
  transition: 1s;
}

#card6:hover{
  transform: translateX(7px);
  transition: 1s;
}



/*****IMAGENS DOS CARDS********/
#card1{background-image: url(./assets/img/galaxias/Pinwheel_galaxy.png);background-position: center;background-size: cover;}
#card2{background-image: url(./assets/img/nebulosas/ngc.jpg);Background-position:center;}
#card3{background-image: url(./assets/img/background/noticia-ia2.jpg);}
#card4{background-image: url(./assets/img/telescopios-sondas/telescopios.png);background-position: center;background-size: cover;}
#card5{background-image: url(./assets/img/astronomos/astronomos.png);background-position: center; background-size: cover;}
#card6{background-image: url(./assets/img/exoplanetas/exo.png);background-position: center;background-size: cover;}

footer {
  padding: 20px; 
  border-radius: 10px; 
  text-align: center; 
  color: #e8e8e8; 
  background-image: url(./assets/img/background/7a51b2d2-e609-4990-9f3d-4e7f8361ea4a.jpg);
  background-position: center;
  background-size: cover;
}

footer img {
  width: 150px; 
  margin-bottom: 10px; 
}

footer p { 
  font-size: 0.9rem;
  margin-bottom: 5px; 
}

footer a { 
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; 
}
